/*Global CSS*/

body {
    overflow-y: auto;
    background-color: pink;
    height: 100vh;
}

/*Class CSS*/

.bounds {
    border: solid yellow 2px
}

.navbar-spacer {
    height: 6vh;
}

.main-container {
    height: 94vh;
}

.message {
    background-color: green;
    max-height: 94vh;
}

.compose {
    background-color: purple;
    min-height: 20vh;
    max-height: 94vh;
}

.inbox-desktop {
    background-color: red;
    max-height: 94vh;
}

.inbox-mobile {
    background-color: red;
    max-height: 94vh;
}

.inbox-list {
    overflow-y: auto;
    max-height: 80vh
}

.inbox-header-footer {
    height: 5vh
}

.incoming-mail {
    border: solid black 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.subject-container {
    border: solid black 2px;
}

.reader-container {
    border: solid black 2px;
}

.reader-text {
    overflow-y: auto;
}

.vh-94 {
    max-height: 94vh
}

/*ID CSS*/

#compose-input {
    height: 12vh
}

/*Media Queries*/

@media (min-width: 992px) {
    #compose-input {
        height: 87vh
    }
}

@media (max-width: 992px) {
    .compose {
        max-height: 22vh;
    }
}